*,::after, ::before{
  box-sizing: border-box;
}
html,body{
    min-height: 100%; 
}
body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em 0;
}
.card{  
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 70%;
    padding: 60px 0;
    border-radius: 25px;
    background-color: white;  
}
img{
    display: block;
    width: 100%;
}
.box-img{
    position: absolute;
    z-index: 2;
    top: 46%;
    left: 10%;
    width: 9em;
}
.images{
    position: relative;
    top: 15%; left: -7%;
}
.woman-img{
    position: relative;
    transform: scale(1);
}
.pattern-img{
    position: absolute;
    top: -110%; left: -122%;
    transform: scale(0.95);
}

.faq{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 70px;
}
h1{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: hsl(238, 29%, 16%);
    margin: 0;
}
p{
    position: relative;
    top: -10px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding-left: 5px;
    color: hsl(240, 6%, 50%);
    transition: all 0.2s ease-in-out;
}
p.visible{
    top: 0;
    visibility: visible;
    opacity: 1;
    height: auto;
    padding-top: 15px;
}
ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}
li{
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}
li.click{
    padding: 5px 0;
}
button{
    width: 100%;
    border: none;
    background: none;
    cursor: pointer; 
    text-align: left;
    color: hsl(237, 12%, 33%);
    font-size: 13.5px;
    font-weight: 400;
}
button.bold{
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}
button::after{
 content: url(./images/icon-arrow-down.svg);
 float: right;
}
.rotate::after{
 transform: rotate(180deg);
}
button:hover{
    color: hsl(14, 88%, 65%);
}

@media (max-width: 900px){
    .card{
        flex-direction: column;
        align-items: normal;
        overflow:visible;
        width: 90%;
    }
    img{
        width: 240px;
    }
    .images{
        height: 100px;
        top: -170px;
        left: 0;
        align-self: center;
    }
    .box-img{
        visibility: hidden;
        opacity: 0;
    }
    .pattern-img{
        top: 119%;
        left: 0;
        transform: scale(1.1);
    }
    .woman-img{
        top: 0;
        left: 0;
    }
    .faq{
        width: 75%;
        margin: 0;
        align-self: center;
    }
}
